$boton-color: greenyellow;
$boton-hover: #adff2f;
$boton-texto: black;

button {
  background-color: $boton-color;
  color: $boton-texto;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $boton-hover;
  }
}
